In [3]:
import json
import pandas as pd 
import numpy as np

In [2]:
data = {
    "message": " Orders retrieved successfully",
    "count": 5,
    "totalSales": 3340.7899999999995,
    "recentOrders": [
        {
            "id": 6831464120634,
            "name": "The Collection Snowboard: Hydrogen",
            "sku": "null",
            "createdAt": "2025-11-07T15:17:12-05:00",
            "totalPrice": "610.10",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6831460057402,
            "name": "Smart Finance Dashboard - Standard",
            "sku": "FIN-001",
            "createdAt": "2026-11-07T15:14:18-05:00",
            "totalPrice": "50.75",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6831456616762,
            "name": "The 3p Fulfilled Snowboard",
            "sku": "sku-hosted-1",
            "createdAt": "2025-11-07T15:11:58-05:00",
            "totalPrice": "2629.95",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6831455600954,
            "name": "Havells fan - Standard",
            "sku": "123",
            "createdAt": "2025-11-07T15:11:09-05:00",
            "totalPrice": "0.00",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6829922517306,
            "name": "Smart Finance Dashboard - Standard",
            "sku": "FIN-001",
            "createdAt": "2025-11-06T15:16:24-05:00",
            "totalPrice": "49.99",
            "currency": "USD",
            "customer": "Guest"
        }
    ]
}

In [4]:
products = [
            {
                "id": p["id"],
                "title": p["name"],
                "vendor": p.get("vendor"),
                "price": p["totalPrice"],
                "created_at": p.get("createdAt")
            }
            for p in data['recentOrders']
        ]

In [18]:
pd.DataFrame(products)

,id,title,vendor,price,created_at
0,6831464120634,The Collection Snowboard: Hydrogen,None,610.10,2025-11-07T15:17:12-05:00
1,6831460057402,Smart Finance Dashboard - Standard,None,50.75,2026-11-07T15:14:18-05:00
2,6831456616762,The 3p Fulfilled Snowboard,None,2629.95,2025-11-07T15:11:58-05:00
3,6831455600954,Havells fan - Standard,None,0.00,2025-11-07T15:11:09-05:00
4,6829922517306,Smart Finance Dashboard - Standard,None,49.99,2025-11-06T15:16:24-05:00

In [15]:
def clean_data(data):

    df = pd.DataFrame(data)
    # Convert totalPrice to float
    df["totalPrice"] = df["price"].astype(float)

    # Convert createdAt to datetime
    df["createdAt"] = pd.to_datetime(df["createdAt"])

    # Replace 'null' string with proper None in SKU
    df["sku"] = df["sku"].replace("null", None)


    total_revenue = df["totalPrice"].sum()

    # Average Order Value (AOV)
    average_order_value = df["totalPrice"].mean()

    # Orders per Day
    orders_per_day = df.groupby(df["createdAt"].dt.date)["id"].count()

    # Revenue per Day
    revenue_per_day = df.groupby(df["createdAt"].dt.date)["totalPrice"].sum()

    # Top 3 Products by Revenue
    top_products = df.groupby("name")["totalPrice"].sum().sort_values(ascending=False).head(3)

    return df


print(clean_data(products))

KeyError: 'createdAt'

TypeError: list indices must be integers or slices, not str

In [17]:
df

                                        recentOrders
0  {'id': 6831464120634, 'name': 'The Collection ...
1  {'id': 6831460057402, 'name': 'Smart Finance D...
2  {'id': 6831456616762, 'name': 'The 3p Fulfille...
3  {'id': 6831455600954, 'name': 'Havells fan - S...
4  {'id': 6829922517306, 'name': 'Smart Finance D...