In [4]:
import json
import pandas as pd 
import numpy as np

In [30]:
data = {
    "message": " Orders retrieved successfully",
    "count": 5,
    "totalSales": 3340.7899999999995,
    "recentOrders": [
        {
            "id": 6831464120634,
            "name": "The Collection Snowboard: Hydrogen",
            "sku": "null",
            "createdAt": "2025-11-07T15:17:12-05:00",
            "totalPrice": "610.10",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6831460057402,
            "name": "Smart Finance Dashboard - Standard",
            "sku": "FIN-001",
            "createdAt": "2026-11-07T15:14:18-05:00",
            "totalPrice": "50.75",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6831456616762,
            "name": "The 3p Fulfilled Snowboard",
            "sku": "sku-hosted-1",
            "createdAt": "2025-11-07T15:11:58-05:00",
            "totalPrice": "2629.95",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6831455600954,
            "name": "Havells fan - Standard",
            "sku": "123",
            "createdAt": "2025-11-07T15:11:09-05:00",
            "totalPrice": "0.00",
            "currency": "USD",
            "customer": "Guest"
        },
        {
            "id": 6829922517306,
            "name": "Smart Finance Dashboard - Standard",
            "sku": "FIN-001",
            "createdAt": "2025-11-06T15:16:24-05:00",
            "totalPrice": "49.99",
            "currency": "USD",
            "customer": "Guest"
        }
    ]
}

In [ ]:
products = [
            {
                "id": p["id"],
                "title": p["name"],
                "vendor": p.get("vendor"),
                "price": p["totalPrice"],
                "created_at": p.get("createdAt")
            }
            for p in data['recentOrders']
        ]

In [39]:
products

[{'id': 6831464120634,
  'title': 'The Collection Snowboard: Hydrogen',
  'vendor': None,
  'price': '610.10',
  'created_at': '2025-11-07T15:17:12-05:00'},
 {'id': 6831460057402,
  'title': 'Smart Finance Dashboard - Standard',
  'vendor': None,
  'price': '50.75',
  'created_at': '2026-11-07T15:14:18-05:00'},
 {'id': 6831456616762,
  'title': 'The 3p Fulfilled Snowboard',
  'vendor': None,
  'price': '2629.95',
  'created_at': '2025-11-07T15:11:58-05:00'},
 {'id': 6831455600954,
  'title': 'Havells fan - Standard',
  'vendor': None,
  'price': '0.00',
  'created_at': '2025-11-07T15:11:09-05:00'},
 {'id': 6829922517306,
  'title': 'Smart Finance Dashboard - Standard',
  'vendor': None,
  'price': '49.99',
  'created_at': '2025-11-06T15:16:24-05:00'}]

In [42]:
def clean_data(data):

    # Convert totalPrice to float
    df["totalPrice"] = df["totalPrice"].astype(float)

    # Convert createdAt to datetime
    df["createdAt"] = pd.to_datetime(df["createdAt"])

    # Replace 'null' string with proper None in SKU
    df["sku"] = df["sku"].replace("null", None)


    total_revenue = df["totalPrice"].sum()

    # Average Order Value (AOV)
    average_order_value = df["totalPrice"].mean()

    # Orders per Day
    orders_per_day = df.groupby(df["createdAt"].dt.date)["id"].count()

    # Revenue per Day
    revenue_per_day = df.groupby(df["createdAt"].dt.date)["totalPrice"].sum()

    # Top 3 Products by Revenue
    top_products = df.groupby("name")["totalPrice"].sum().sort_values(ascending=False).head(3)

    return df


print(clean_data(products))

              id                                name           sku  \
0  6831464120634  The Collection Snowboard: Hydrogen          None
1  6831460057402  Smart Finance Dashboard - Standard       FIN-001
2  6831456616762          The 3p Fulfilled Snowboard  sku-hosted-1
3  6831455600954              Havells fan - Standard           123
4  6829922517306  Smart Finance Dashboard - Standard       FIN-001

                  createdAt  totalPrice currency customer
0 2025-11-07 15:17:12-05:00      610.10      USD    Guest
1 2026-11-07 15:14:18-05:00       50.75      USD    Guest
2 2025-11-07 15:11:58-05:00     2629.95      USD    Guest
3 2025-11-07 15:11:09-05:00        0.00      USD    Guest
4 2025-11-06 15:16:24-05:00       49.99      USD    Guest

TypeError: list indices must be integers or slices, not str

In [17]:
df

                                        recentOrders
0  {'id': 6831464120634, 'name': 'The Collection ...
1  {'id': 6831460057402, 'name': 'Smart Finance D...
2  {'id': 6831456616762, 'name': 'The 3p Fulfille...
3  {'id': 6831455600954, 'name': 'Havells fan - S...
4  {'id': 6829922517306, 'name': 'Smart Finance D...